<section class="login_area section_padding reveal animated" data-delay="0.2s" data-anim="fadeInUpShort">
    <!-- container starts -->
    <div class="container">
        <!-- row starts -->
        <div class="row">
            <!-- col-md-12 -->
            <div class="col-md-12">
                <div class="erro_wrapper">
                    <div class="huge_title">
                        <h1>4<img src="assets/images/err.png" alt="bla">4</h1>
                    </div>
                    <div class="err_sub"><h4>opps , this page could not be found</h4></div>
                    <div class="home_btn text-center">
                        <p>Go to <a href="#/">HOME</a>
                    </div>
                </div>
            </div><!-- col-md-12 -->
        </div><!-- /.row ends -->
    </div><!-- container ends -->
</section>